[2018-12-07 04:18] jackychanfox opened #1 "'opencv2/opencv.hpp' file not found"
I love to use this library.
this is just one I wished for a long time.
I created new project and yarn add `react-native-opencv3`.
when I run 'react-native link react-native-opencv3', I got this error.
[code]
if import manually and run it, I got `'opencv2/opencv.hpp' file not found`
please help me!!!
Thank you.

[2018-12-07 05:10] adamgf commented on #1
This is not in a useable state yet.  I will let you know once it is.
-- Adam

[2018-12-07 14:42] jackychanfox commented on #1
Thank you for your efforts and your project.
what is your ETA of this project?
I hope to use this library asap.
I don't know native part. I have been working on javascript base.
What can I help you?

[2018-12-08 01:34] jackychanfox commented on #1
email: fox0905@outlook.com
skype id : fox0905@outlook.com
I hope to keep in touch with you.
Thank you.

[2018-12-08 02:01] adamgf commented on #1
Hi Jacky,
Today is not good for me but I will contact you tomorrow.  My Skype is
adamgf01.
-- Adam

On Fri, Dec 7, 2018, 5:34 PM jacky <notifications@github.com> wrote:

[2019-07-22 07:58] jslok opened #2 "Version mismatch in npm."
NPM version is still on 1.0.4. I think this might be why CvCamera component does not work for me. I get error:
[code]

[2019-07-22 08:06] jslok commented on #2
Maybe version not related to the error actually. I just tried with 1.0.5 and still get the same error when using the CvCamera Usage code from readme.

[2019-07-29 08:49] ysrarff opened #3 "Getting face landmarks from Video Recording - Is it possible?"
Hi there,

I am currently trying to implement a video recording feature that could run face detection and landmark classification at the same time (Need to get probability of eye opening and eulerY and Z values). I've tried to implement it via Expo/RNCamera's face detection module but it doesn't work for iOS. Which is why i've resorted to using OpenCV in my project.

I'm just curious to know if it

[2019-07-31 07:33] ysrarff commented on #2
Hi @jslok

I am having some problems with importing this package inside my project.
After manually importing it, it gives me an error that says:

May I know if you've found a solution to this? Thank you.

[2019-08-05 14:07] Motadeh commented on #2
Please as a solution to this been found?

[2019-08-05 14:08] Motadeh commented on #2
Please has a solution to this been found?

[2019-08-08 08:57] ysrarff commented on #3
Closing issue because I managed to get it working. Eventually decided to abandon the OpenCV approach since it was suffering from performance issues.

[2019-08-08 09:19] jslok commented on #2
@adamgf Can you please make a repo for a working example? I've been trying to install many different ways with no success. Thank you

[2019-08-08 09:21] ysrarff commented on #2
Hi @Motadeh ,
I'm not sure if this might help but I eventually got around the problem by pulling directly from master:

instead of npm install react-native-opencv3.

So inside your package.json should look something like:

Next, change your .js imports from

to this:

Then, i proceeded to
- import opencv.xworkspace manually inside XCode -> import **libRNOpenCv3.a**
- bind prefix header file (.pch)

[2019-08-08 09:48] ysrarff commented on #2
Hi @jslok

Could you try the solution I sent to @Motadeh as well?
The whole thing is mostly related to dependency-conflict-related issues.

[2019-08-08 10:45] jslok commented on #2
@ysrarff Thank you for the help. I haven't tried on ios but I got it working with android now. `yarn add adamgf/react-native-opencv3#master`. `import {CvCamera, CvInvoke} from 'react-native-opencv' works for me.

For react-native 60.4 I had to disable jetify as well.

[2019-08-08 11:34] jslok opened #4 "Camera view is sideways on Android"
On Android, CvCamera view is rotated 90 degrees counterclockwise. I tried several solutions I found during search including setting android orientation to portrait in androidmanifest.xml and adding Core.rotate(in, in, 0) in CvCameraView.java on line 454. Core.rotate just causes the app to crash. Core.flip works but only flips the view 180 degrees.

[2019-08-11 19:34] adamgf commented on #4
I will fix this issue can you please give me some more info what type of Android device etc.?

[2019-08-11 19:35] adamgf commented on #2
I am going to fix this I am starting work on this again I did not want to update the release until I had a viable release ready.

[2019-08-11 20:41] adamgf commented on #2
Sorry I did not respond before check out the apps in https://github.com/adamgf/react-native-opencv3-tests

[2019-08-11 20:44] adamgf commented on #2
What you want to do is first use npm to install react-native-opencv3 as you would normally then manually remove react-native-opencv3 from node_modules and then check it out from git back into node_modules using git clone https://github.com/adamgf/react-native-opencv3.git

Once this gets to a stable enough state and I have added documentation which will be soon because I finished up on a contract a

[2019-08-11 20:46] adamgf commented on #3
Hi @ysrarff I was super busy on a contract that just wrapped up and I fully intend to finish this

[2019-08-11 20:50] adamgf commented on #3
Also sorry for the late reply I should have replied sooner.

[2019-08-11 22:26] jslok commented on #4
I use a galaxy s9 with app in portrait mode. I think this would happen on all devices though. I checked your tests (thanks for excellent examples) and they set orientation to landscape in androidmanifest so the cvcamera does appear correct.

[2019-08-12 20:02] adamgf commented on #4
Thank you @jslok!  Oh okay I never added the code to change the orientation I wanted to get this module to a point where the react-native & opencv people could get involved and finish it off I worked on it for months!  I am going to be working on it for at least another three weeks and then putting together the 1.0.5 release with documentation et. al.  I will look into the rotation issue for you a

[2019-08-12 20:17] adamgf commented on #3
Hi @ysrarff I would check back in a couple of months after some more people have gotten involved in this project hopefully ha ha!  I hope once this is stabilized other people will start getting involved.

[2019-08-13 01:33] ysrarff commented on #3
Hey @adamgf, thanks for the reply. Yup, I managed to pull off the use case using the camera module from OpenCV using both the CvCameraPreview and CvFaceLandmarks examples. Thanks for that!

In terms of performance, my best guess would be that it was importing all the Haar Cascades .xml files altogether in the app, which was slowing it down. (Doing the camera module resulted in a mere 170++ mb) but

[2019-08-13 22:10] adamgf commented on #4
I don't know why that did not show but it is <CvInvoke function="rotate" p1=CLOCKWISE>
around <CvCamera ... /> and then a </CvInvoke> I do not remember the exact function name or parameters the second and third parameters should be the Mat to rotate I think

[2019-08-13 22:12] adamgf commented on #4
The CvInvoke tag is not showing up for some reason when I post these messages

[2019-08-14 00:47] adamgf commented on #3
Hi @ysrarff thank you for the suggestion I will definitely take a look at that when I start working on the opencv port again tomorrow.  That is probably what is going on it is probably just reloading stuff that doesn't need to be reloaded.
Cheers! Adam

[2019-08-14 01:04] jslok commented on #4
Thanks for the pointer @adamgf.

I tried with some trial and error with cvinvoke based off code from your tests and it seems flip and rotate 180 degrees works but I cannot get rotate 90 degrees to show. It just doesn't show the inner window. I am not experienced with opencv to begin with so maybe I am doing something wrong. Just starting to learn.

[code]

[2019-08-14 05:31] jslok commented on #4
I'll await the documentation with the 1.05 release. I have many questions but I'm sure the documentation will handle most. Thanks!

[2019-08-16 22:13] adamgf commented on #4
Hello @jslok I am going to start checking these comments daily my bad I apologize!  I just had my birthday so I took a couple of days off around that but Iam back on it.  First of all I do not think you have to create a submat and then release it you can just rotate the mat in place.

Zero should work if it does not then there must be a bug in the code somewhere.

enum RotateFlags {
    ROTATE_90_

[2019-10-06 22:43] adamgf commented on #4
Just wanted to let everybody know that the v1.0.5 version has been released I did fix the sample app SimpleGreyscale to rotate counterclockwise with this release so you may want to check it out.  Spread the word!

[2019-10-06 22:44] adamgf commented on #3
Just wanted to let everybody know that the v1.0.5 version has been released there are still performance issues but I am hoping others are going to get involved.  Spread the word!

[2019-10-12 20:03] adamgf commented on #1
Hi Jacky,
I just released the v1.0.7 of https://github.com/adamgf/react-native-opencv3

To promote the release I posted your face landmarks video:
https://www.youtube.com/watch?v=ABNMMfXGXdo

Spread the word!
Hope all is well,
Adam

On Fri, Dec 7, 2018 at 6:00 PM Adam <adamgf@gmail.com> wrote:

[2019-10-26 00:17] #2 closed

[2019-11-01 06:49] jslok commented on #4
@adamgf I'm having some trouble with the orientation still unfortunately. Your readme say to put the app in landscape mode in the AndroidManifest.xml but this is not possible for my app. It's a portrait mode app.

I checked the SimpleGreyscale to try and adapt it for the CvCamera but it doesn't seem to work. Do I have something wrong here?
`        <CvInvokeGroup groupid="zeeGrup">
          <CvIn

[2019-11-08 22:47] adamgf commented on #4
Hi @jslok I am not sure what to do on this one either yet.  I will investigate further I can maybe modify the SimpleGreyscale app and take out the landscape property from AndroidManifest.xml and see if I can still get it to rotate the image that is a square image though I probably need to use one that is not square.

[2019-11-08 22:49] adamgf commented on #4
Or I will try modifying the CvCameraPreview app that probably makes more sense.

[2019-11-08 23:16] adamgf commented on #4
Oh I just noticed something 'p1' value should be set to 'rgba' it has to be set to either 'rgba', 'rgbat', 'gray' or 'grayt'.  You could also just try 'rgbat' with a no op.  I am not sure what that is going to do exactly but unless there is a bug it should transpose the image.

[2019-11-08 23:33] adamgf commented on #4
That did not work let me look into this some more and update the thread once I figure how to do this correctly I may have to update the package to a 1.0.8 version if back-end changes are needed.

[2019-11-09 00:55] jslok commented on #4
Hi @adamgf I've been trying to fix this for the past couple days and I think I learned a lot. It seems to be an issue with opencv android itself. I think rotating or flipping 90 degrees does not work at all for the camera preview (crashes immediately) because `onCameraFrame` must return a Mat of the same exact dimensions.

I tried every single suggestion I could google and this thread so far has b

[2019-11-10 23:12] adamgf commented on #4
Hi @jslok thank you for the info I will spend some time next week trying to get to the bottom of this.  I think I made you a contributor if you do want to incorporate something feel free to make any changes.  Once I figure something out and have something to contribute I will ping you right now I am not really sure how to fix this yet it sounds like there could be issues with the OpenCV Android li

[2019-11-10 23:13] adamgf commented on #4
You shouldn't have to force your app to be in landscape mode just to use this package.

[2019-11-14 10:59] jslok commented on #4
Just noticed I didn't paste the right link earlier. This is the thread that gave the most help for me. https://github.com/opencv/opencv/issues/4704

[2019-11-15 22:46] adamgf commented on #4
Thanks @jslok I still have not gotten to this like I wanted to last week but I am definitely spending some cycles on it this weekend and will post an update when I have something to add.  Thanks for the thread reference I will definitely use that.
-- Adam

[2019-11-21 04:05] adamgf commented on #4
Hi @jslok I figured out what the issue is and the solution basically it is going to require another release of react-native-opencv3.  It is going to take a little while to do another release becaues all the sample apps need to be re-unit tested.  I will do the release pretty soon and let you know once it is available.  The issue is basically that there was a bug in react-native-opencv3 such that i

[2019-11-21 04:16] adamgf commented on #4
So once I push the next release it should be as:

[code]

[2019-11-22 22:09] jslok commented on #4
Awesome, looking forward to trying it out!

[2019-11-27 09:16] MayoudP opened #6 "Hough Lines Transform / Thread counting on a picture ?"
By any chance, is it possible to use this library in order to achieve Hough Lines counting ?
Count the number of lines on a picture. The picture is basically a painting board.

Sorry, it's more a question than a bug 😬

Thanks for the help anyway.

[2019-11-27 19:08] adamgf commented on #6
Hi @MayoudP yes please take a look at the sample app HoughCircles2 in react-native-opencv3-tests in the code where it draws the circles you want to replace that with counting the hough lines and switch out the call to houghCircles to the houghLines I am not sure of the exact method names.

[2019-11-28 14:56] MayoudP commented on #6
Thank you very much for your answer, I'll have a look this week-end.
Do you know where can I check all the existing method and their specs ?

[2019-11-29 05:04] adamgf commented on #6
Hi @MayoudP not all of the OpenCV methods are supported just a good chunk of Imgproc and Core methods I am pretty sure HoughLines is supported you will have to check out opencv.org to find the java documentation for the 3.4.4 android release of OpenCV.  It invokes the method at run-time so as long as the method exists in Imgproc or Core and the parameters are of the correct types it will just call

[2019-12-04 09:05] MayoudP commented on #6
Alright thank you, and last question, does the algorythm with openCV (HoughLines) would be able to detect lines (Vertically and Horizontally) on such images like this ? In your opinion...

![IMG_4062](https://user-images.githubusercontent.com/48682041/70128602-6df95000-167d-11ea-803f-4e0db0c9cd73.JPG)

[2019-12-10 07:52] ZhouBoo opened #7 "opencv-contrib-3.4.1-ios-framework.zip install error"
Hi, there is a error when I pod install.

---
[!] Error installing libopencv-contrib
[!] /usr/bin/curl -f -L -o /var/folders/9c/3tblps1d3pqdzw43czyhbmlh0000gn/T/d20191210-56685-ijhvwt/file.zip https://www.dropbox.com/s/afpm27620vqfgi3/opencv-contrib-3.4.1-ios-framework.zip?dl=0 --create-dirs --netrc-optional --retry 2

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2019-12-11 06:27] ZhouBoo commented on #7
Network Issue。

Close

[2019-12-11 06:27] #7 closed

[2019-12-22 00:05] adamgf commented on #4
Hi @jslok I tried to fix this and I spent a few days on it and I just couldn't figure it out.  It is really tricky and I just don't know Android and React Native well enough.  I put a lot of work into this package to contirubte something cool to open source but at this point I kind of don't want to keep working on it.  I believe I added you as a contributor if you want to take another crack at it.

[2019-12-27 04:32] Tex2wo commented on #4
I think the community run 'React Native Camera' is also having issues with orientation

https://github.com/react-native-community/react-native-camera/issues/2638

[2020-01-09 05:34] 9762279667 opened #8 "Component "CvCameraView" re-registered direct event 'topFacesDetected' as a bubbling event"
![IMG_BC3D28F599CE-1](https://user-images.githubusercontent.com/1729895/72040622-29418400-32cf-11ea-83e2-fa7ec2551b87.jpeg)

Could not get anything related to 'topFacesDetected' as RCTDirectEventBlock.

How to reproduce?
1) install 'react-native-opencv3'
2) import components
3) boom

[2020-01-10 14:50] andrekseed opened #9 "RN 0.61.5 enableJetifier=true won't build"
If the property enableJetifier in android `gradle.properties` is true, the build fails on `:app:preDebugBuild`

Disabling this property results in success, but it would be nice to proceed with it enabled.

[code]

<details><summary>More details</summary>
<p>

[code]
</p>
</details>

[2020-01-10 14:53] #9 closed

[2020-01-29 10:36] dyarfaradj opened #10 "Filters not applied to CvCamera output."
Hello,
I'm trying to develop a lane detection app in React Native and came across this lib. I was playing around with it and got the CvImage to work with gaussian filter, Canny and few others. But when I tried to do this with the CvCamera , output directly from the camera nothing got applied. I could only see raw footage from the camera.
I've tried with gray as input in the Canny as well no result

[2020-01-29 17:39] adamgf commented on #10
dstMar is only for CvImage try setting p2 to rgba.
-- Adam

On Wed, Jan 29, 2020, 2:36 AM dyarfaradj <notifications@github.com> wrote:

[2020-01-29 20:25] dyarfaradj commented on #10
Yeah that I'm aware of, as I have understood it p1 is input and p2 is output. So for the Canny, in p1 I have to have rgba so I can get the camera feed, right?
Doesn't work. Can you show me how to use CvCamera and add rotate as an example?

[2020-01-29 22:39] moustaphadiakhate opened #11 "little issue on android requestCameraPermissions"
`granted = await PermissionsAndroid.requestMultiple([
	      PermissionsAndroid.PERMISSIONS.CAMERA,
		  PermissionsAndroid.PERMISSIONS.READ_EXTERNAL_STORAGE,
		  PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE
        ])`
https://github.com/adamgf/react-native-opencv3/blob/9966bb1ab72990a0dd27005d0622419bef99da02/index.js#L42

If we "useStorage : PermissionsAndroid.requestMultiple[] returns

[2020-01-29 22:50] #11 closed

[2020-02-01 14:28] shdezhahanj opened #12 "Failed to transform artifact opencv.aar"
Hello,
I am trying to build a simple app with react native and opencv. but the error appear.
I just create an app with:
`npx react-native init AwesomeProject`
and it works, then I run this:
` npm install react-native-opencv3 --save`
then:
npx react-native run-android

and this error:

Task :app:preDebugBuild FAILED
15 actionable tasks: 2 executed, 13 up-to-date

FAILURE: Build failed with an excep

[2020-02-01 14:38] adamgf commented on #12
Specify enableJetify is false in one of the Android config files I don't
remember which one.  That is in the build instructions for the sample apps
I believe.
Best regards,
Adam

On Sat, Feb 1, 2020, 6:28 AM shdezhahanj <notifications@github.com> wrote:

[2020-02-03 11:19] shdezhahanj opened #13 "Could not find a declaration file for module react-native-opencv3"
Hello!
in this line:
`import {CvCamera} from 'react-native-opencv3';`
I have this error:
Could not find a declaration file for module react-native-opencv3 ....
and as it guided I try :
`npm install @types/react-native-opencv3`
but the error E404 not found appear.
I searched a lot but I could not solve it please help

[2020-02-05 10:26] YUstynov opened #14 "findContours method"
is it possible to use this OpenCv method to find contours and detect rectangles.
it should be something like this:
` const  contoursArr = await new MatOfPoints().init();
RNCv.invokeMethod('findContours', {"p1":cannedMat,"p2": contoursArr,"p3": hierarchy,"p4":Imgproc.RETR_TREE,"p5":Imgproc.CHAIN_APPROX_SIMPLE});`
but i don't know where to get MatOfPoints to init contoursArr. Maybe someone have alre

[2020-02-05 16:18] adamgf commented on #14
Hi Yustyov,  you just need to add the type MatOfPoints to mats.js and
basically copycat what is already in there.  I will make you a
contributor?  I don't want to keep working on this I have other stuff going
on.  I set up the basic infrastructure so other devs can join in and
improve on it.  I can tell you what needs to be done it is not difficult.
If i have some extra time I will do it and put o

[2020-02-05 16:20] adamgf commented on #13
Were you able to run the sample apps that use CvCamera?
Best regards,
Adam

On Mon, Feb 3, 2020, 3:19 AM shdezhahanj <notifications@github.com> wrote:

[2020-02-06 09:24] YUstynov commented on #14
Ok, thanks for reply

[2020-02-06 09:24] #14 closed

[2020-02-07 22:12] smcardle opened #15 "Error trying to use module"
40 actionable tasks: 38 executed, 2 up-to-date
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: /Users/xxxxxxx/myproject/node_modules/react-native-camera/android/src/main/java/com/google/android/cameraview/Camera2.j
ava uses unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.
Note: /Users/xxxxxxxx/myp

[2020-02-08 19:29] adamgf commented on #15
Hi @smcardle set enableJetify to false in one of the Android config files.
Good luck!  Adam

[2020-02-08 19:29] #15 closed

[2020-02-08 19:44] adamgf commented on #10
Hi @dyarfaradj something like this should work ->

<CvInvoke func="rotate" params={{ p1: 'rgba', p2: 'rgba', p3:  Core.ROTATE_90_COUNTERCLOCKWISE }}> <CvCamera style={{ width: '100%', height: '100%', position: 'absolute', }} facing="back" /> </CvInvoke>

Does that not work?
-- Adam

[2020-02-14 05:40] citechteam commented on #13
Please help i waste lot of time to solve this

[2020-02-14 09:19] citechteam opened #16 "react-native-opencv3 ios not working"
i try to use library's function in ios but it not working it shows TypeError: null is not object evaluting ('RnOpencv3.cvtColorGray) Please help me i waste my lot of time

[2020-02-21 15:39] albjeremias opened #17 "supporting expo.. or expo-opencv3 ?"
Is there a way to run this module with expo?
When I add this module in a expo project...
`$ yarn add react-native-opencv3'

I get the error:
`Unable to resolve "react-native-fs" from "node_modules/react-native-opencv3/index.js"`

then I install
`$ yarn add react-native-fs'
and get the error:
[code]

[2020-02-21 19:31] adamgf commented on #17
Hi Albatross,
Does react-native-fs install separately in expo could you try that first
and then try to install react-native-opencv3?
Best regards,
Adam

On Fri, Feb 21, 2020 at 7:39 AM Albatroz Jeremias <notifications@github.com>
wrote:

[2020-02-21 19:52] pmgou commented on #17
Ok, so the issue is that react-native-fs is not supported by expo.. not react-native-opencv3...
there is also https://github.com/expo/exponent-react-native-fs would it be possible to change all calls to react-native-fs to this?

[2020-02-27 20:53] shdezhahanj commented on #12
Thanks for the answer. I did it in gradle.properties
  `
android.useAndroidX=true
android.enableJetifier=false
`
but this error happends:

nfo Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 1007 file(s) to forward-jetify. Using 8 workers...
info JS server already running.
info Installing the app...

See http://g.co/androidstudio/man

[2020-03-12 23:21] adamgf commented on #17
Yes please change it to exponent-react-native-fs.  I need help with this if others want to help out.  I am too busy with other stuff to work on this.

[2020-03-12 23:32] adamgf commented on #4
I want this to be community run.  I don't want to run it any more.  I wrote it for the sole purpose of it being used by other people not myself.

[2020-03-13 12:37] pmgou commented on #17
why not use opencv.js ? any reasons ? because thats the steps i took after all this troubles..

[2020-03-17 03:15] longnguyen2 opened #20 "How can i use Mat instance's method: i.e convertTo"
My project currently needs an image processing library that works on react native, so i found this.
I have tried some of your examples, they work well. But there is a problem, i want to adjust the contrast, brightness of the image so the easiest solution is to invoke convertTo method from Mat object.

I have read your source code and found no way to do this. Sorry if i misunderstood your conceptio

[2020-04-16 23:41] wanjey opened #21 "getMatData Error on a few openCV methods"
I get a 'Mat data type is not compatible' error when I try to use getMatData on any Mat that has been passed through an openCV function, except for after invoking Hough Circles.

I've tried the Hough Circles example which uses getMatData after invoking Hough Circles and it works well, but if you try to use getMatData a step before, after invoking GaussianBlur, it will throw that error.

For my use

[2020-04-26 23:45] adamgf commented on #21
Hi Wanjey I do not really know the answer to your question.  If you want to add some more types I just added you as a collaborator.  Feel free to make any edits and commit your changes to the master branch.  Best regards, Adam

[2020-04-26 23:45] #21 closed

[2020-04-26 23:48] adamgf commented on #20
Hi Nguyen, I do not really understand what the issue is.  I just added you as a collaborator.  Feel free to make any edits to the code and commit to master to get that to work.  Best regards, Adam

[2020-04-26 23:48] #20 closed

[2020-05-08 06:52] amardeepranu commented on #17
hey @pmgou did you manage to get opencv.js running on expo?

[2020-05-08 09:49] pmgou commented on #17
Hi,
in the end i make it work with a webview. not with react-native, but react-native is js so it should not be a problem.

Anyway take into account that opencvjs does not implement all the functions of opencv, only some:

https://github.com/opencv/opencv/blob/master/platforms/js/opencv_js.config.py

And most of the code is kind of reverse engineering cause there aren't examples of everything.
Her

[2020-05-08 14:10] amardeepranu commented on #17
Thanks @pmgou what is your use case? Does that mean you launch a browser in the app, inject opencv.js and execute it inside safari/chrome within the app? Would love to see an example! Thanks

[2020-05-17 00:55] axcasella opened #22 "CvFaceLandmark flickers and disappears when head is tilted"
Hi Adam, thanks for putting this together. I tried the CvFaceLandmark [example](https://github.com/adamgf/react-native-opencv3-tests/tree/master/CvFaceLandmarks). A couple of issues/questions:

The landmarks from CvFaceLandmark shows up in IOS, however, it flickers a lot and disappears whenever the face moves. Does it not do live tracking? I guess it could also be a performance issue with renderin

[2020-05-18 01:59] adamgf commented on #22
Hi Axcasella,
I have not really messed around with performance that much but I am super
excited to see what you can do to tweak it and get some better
preformance!!  I was content to get rid of any kind of memory leaks and so
the performance was adequate.  I have added you as a collaborator.  Feel
free to make any changes or updates to the code base in a separate branch
or the master branch.
Best

[2020-05-18 02:04] adamgf commented on #22
I mean major memory leaks that would crash the app.  There are still a
bunch of more minor memory leaks.
Best regards,
Adam

On Sun, May 17, 2020 at 6:59 PM Adam <adamgf@gmail.com> wrote:

[2020-05-18 14:11] axcasella commented on #22
Thanks Adam. If you are aware of the minor memory leaks, can you point them out so I can fix them? I will investigate the code a bit more this week

[2020-05-21 04:43] axcasella opened #23 "Why are the haarcascade detection algorithms only in android folder?"
I was looking at the source code of react-native-opencv3. I noticed that the `haarcascade` algorithm files as well as the `lbfmodel.yaml` file are only inside the **Android** folder, and not inside the **ios** folder. Why is this?

<img width="518" alt="Screen Shot 2020-05-20 at 10 34 54 PM" src="https://user-images.githubusercontent.com/53352620/82524127-21ef7a00-9afc-11ea-9cfc-c60b69fcddb6.png">

[2020-05-21 05:13] adamgf commented on #23
Hi Axcasella,
The files are in ios/ocvdata
Best regards,
Adam

On Wed, May 20, 2020 at 9:44 PM axcasella <notifications@github.com> wrote:

[2020-05-21 05:14] adamgf commented on #23
https://github.com/adamgf/react-native-opencv3/tree/master/ios/ocvdata

On Wed, May 20, 2020 at 10:13 PM Adam <adamgf@gmail.com> wrote:

[2020-05-21 14:59] axcasella commented on #23
Thank you I missed it 👍

[2020-05-21 14:59] #23 closed

[2020-05-21 21:24] axcasella opened #24 "Recognition is much better when further away?"
I made an interesting discovery when experimenting with live recognition.

The recognition is much better and has much less flickering when I am further away from the camera (one arm length). It even recognizes the face when my head is tilted. If I am closer to the camera (8 inches away from camera), then recognition barely works. Why is that? Could it be an underlying opencv issue?

[2020-05-23 17:53] axcasella commented on #24
To make sure it's not an issue with the bridge or my phone's performance, I tried running a simple opencv face recognition in python on my computer. I got similar results.

[2020-05-27 03:40] adamgf commented on #24
Hi axcasella,
It sounds like an underlying opencv issue I have not really worked with
live recognition.  But react-native-opencv3 is really just a wrapper around
OpenCV.
Best regards,
Adam

On Thu, May 21, 2020 at 2:25 PM axcasella <notifications@github.com> wrote:

[2020-06-23 16:01] sdv1812 opened #25 "Create a ndarray from Mat object."
I want to convert the Mat object returned from RNCv.imageToMat to a [ndarray](https://github.com/scijs/ndarray) object, as I want to use some functions of the ndarray library.

However, from the Mat object i can see it has only got 3 attributes (matIndex, rows, cols).

Can this object be used to get the image matrix or is there a way to fetch the matrix using the matIndex?

[2020-06-25 22:24] adamgf commented on #25
Hi Sanskar Deepak,
Take a look at the Mat javascript opaque object that wraps an OpenCV Mat.
Take a look at the methods put and get for manipulating the data.

https://github.com/adamgf/react-native-opencv3/blob/master/mats.js

Hope that helps,
Adam

On Tue, Jun 23, 2020 at 9:01 AM Sanskar Deepak <notifications@github.com>
wrote:

[2020-06-26 05:02] sdv1812 commented on #25
Oh I see. That's what I needed. Thanks for the help!

[2020-06-26 05:02] #25 closed

[2020-06-30 02:56] nazmulasha opened #26 "custom functions on real time frames"
I want to run a ML model on real time images. How can I access real time frames and process it in a custom function?

[2020-06-30 21:16] adamgf commented on #26
Hi Nazmul,
Let me get back to you on that.
Best regards,
Adam

On Mon, Jun 29, 2020, 7:57 PM Nazmul Hasan <notifications@github.com> wrote:

[2020-07-03 14:33] nazmulasha commented on #26
Thank you for your kind reply. it will be a great help. A feature like opencv VideoCapture will be awesome.

[2020-07-09 21:10] adamgf commented on #26
Hi Nazmul,
You can wrap a CvCamera object inside a set of tags to pretty much do whatever you want to do via the tags.  Take a look at some of the code samples in react-native-opencv3-tests because you can access the source Mat from inside of the CvCamera object and do opencv functions on the source mat and it will display the dest mat.
Best regards,
Adam

[2020-07-22 01:27] adamgf commented on #24
Hi @axcasella,
I just realized in going through this there is a parameter that is used for the relative size of the face that is sent to the face detection it is a floating point number like 0.2 or something like that I do not remember the specifics.  But you could change react-native-opencv3 to make that configurable and change it in the tag.  It is some minor changes to the CvCamera tag and then

[2020-07-22 01:35] adamgf commented on #22
Hi @axcasella,
I am not really sure what the memory leaks are in Objective-C.  I think you can run Instruments in XCode to see what they are.
Best regards,
ADam

[2020-07-30 05:38] pterosaurK opened #28 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0."
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.

[2020-07-30 21:10] adamgf commented on #28
How do I fix this?  I just made you a contributor if you want to fix this and once you do let me know and I will push out another release 1.0.9.  Thank you @ShunKeJiang

[2020-07-31 05:16] pterosaurK commented on #28
I think it's the Opencv version, you can try 4.3.0

[2020-08-01 08:06] pterosaurK commented on #28
@adamgf Hey, dude, I don't know how to change it. I don't write Android. Sorry, looking forward to your next version

[2020-08-03 14:56] devops35 commented on #14
I am doing document detection. Did you find how to use findContours solution?
@YUstynov @adamgf

[2020-08-03 15:47] devops35 opened #29 "add new methods"
how can i add a new method? Like findContours and drawContours.

[2020-08-04 03:17] pterosaurK commented on #17
@adamgf Finally, we also used the webview fumble to get

[2020-09-09 22:43] adamgf commented on #29
Hi @devops35  sorry it took me a while to get back to you on this.  I made you a contributor on react-native-opencv3 and react-native-opencv3-tests.  Basically you want to add any kind of additional objects that do not currently exist that are passed into the parameters look at the Mat type and other basic types to see how to do that.  Only if the type is not already supported.  And then on Androi

[2020-10-10 11:32] fera765 opened #30 "Add typescript ?"
How can I add typing?

[2020-10-14 13:57] fera765 opened #31 "Use a camera without using landscape mode"
Would there be any way to use the camera without using landscape mode?

[2020-10-21 22:20] adamgf commented on #30
Hi @fera765 I added you as a collaborator to react-native-opencv3 and react-native-opencv3-tests.  If you want to add a new feature please feel free to do so and let me know and I will make a new 1.0.9 release of react-native-opencv3.

[2020-10-21 22:22] adamgf commented on #31
Hi @fera765 at one point I tried making it so it could go into portrait or landscape mode and the react native layout stuff was just above my head.  I added you as a collaborator if you want to add that functionality that would be a great help to others and I can do another release of react-native-opencv3 (1.0.9).

[2020-11-15 15:35] piotrrussw opened #32 "How can I use CvCamera with cvtColor"
Hi, I need little help, because I can't figure out how to run solution from python in your library.
Assuming that I'm capturing video in my python script, I just do simple color transformation:

[code]

I would like to do the same in react-native, but I can't figure out how to do it.
Currently, I have this code:

[code]

Also when i change cvtColor params to:
`{ p1: 'srcMat', p2: 'dstMat', p3: Col

[2020-11-15 19:13] adamgf commented on #32
Hi Piotr,
That looks correct.  There could be a bug.  I thought I fixed that issue with the 1.0.8 release.  Are you using the 1.0.8 release?  I added you as a contributor so if there is a bug and you would like to fix it.

I will take a look at it when I have a little more time.  I think there may be a workaround but I do not remember offhand what it was.  One thing you can do is write to an inter

[2020-11-15 19:13] adamgf commented on #32
I did not mean dimension I meant colorspace.

[2020-11-16 09:06] piotrrussw commented on #32
Yup, I am using 1.0.8 release. The problem only affects the camera, with images everything works fine. I see some errors in xCode, so thanks for invitation and I'll try to fix this.

[2020-11-20 10:00] Albert-vill opened #33 "CvCamera size when using navigation"
Hello, I´m trying to understand why using react navigator on my app is messing with the size of the CvCamera component.

[code]

But when i open the camera screen the size is reduced. Which is something that doesnt happen if i simply open the camera.
I am using this stylesheet:

`const styles = StyleSheet.create({
  container: {
    flex: 1,
    justifyContent: 'center',
    position: 'absolute',

[2020-11-28 19:24] adamgf commented on #33
Hi @AlbertVC,
Can you please fix this?  I added you as a collaborator to react-native-opencv3 and react-native-opencv3-tests.  I do not know react-native layout stuff well enough to fix this kind of stuff.
Best regards,
Adam

[2020-11-28 19:26] adamgf commented on #32
Thanks @piotrrussw!  I will try to look at that today too.

[2020-11-28 20:17] piotrrussw commented on #32
I tried to fix this, but with no luck :(
Thanks for help!

[2020-12-11 03:44] devops35 opened #35 "cartoon effect"
I want to make a cartoon effect. But the bilateralFilter is not working. It only works when I open the cvtColor part in the code below. But this time it's gray in color. I want to make it colorful. How can I do it?

   const sourceuri = Image.resolveAssetSource(
      require('./girl_wide_brim_hat.png'),
    ).uri;

    const newImagePath = RNFS.DocumentDirectoryPath + '/girl_wide_brim_hat.png';

[2020-12-12 00:13] devops35 commented on #35
i solved the problem.

[2020-12-12 00:13] #35 closed, assigned to nobody

[2020-12-13 00:32] adamgf commented on #35
Hi @devops35 thanks for solving that.  I was going to suggest you can do a final cvtColor back from GRAY to RGBA maybe?  In the set of ops just the last op is a cvtColor back to RGBA colorspace.  I am not sure what the colorspace is I do not remember off-hand I think it is RGBA.  But it could be different on Android and iOS but I do not remember.

[2020-12-13 00:36] devops35 commented on #35
Hi, Thank you very much for your answer. I am currently working on getPerspectiveTransform function. But I could not find how to create the point array. When I create and use a regular javascript array there is an error.

[2020-12-13 00:38] devops35 commented on #35
I'm trying like this;

const interMat = await new Mat().init();
    const interMat2 = await new Mat().init();
    const interMat3 = await new Mat().init();
    const sourceFile = await downloadAssetSource(sourceuri);
    const sourceFile2 = await downloadAssetSource(sourceuri2);
    const srcMat = await RNCv.imageToMat(sourceFile);
    const srcMat2 = await RNCv.imageToMat(sourceFile2);

    let p

[2021-02-20 07:54] ShootingStarDragon opened #36 "Issues installing on Windows 10 for RN 0.63.4 + solution"
Hello, I've been trying to get this package working on the latest react native version and it took me a while so just wanted to leave this info here. The most irritating bug was the app building but instantly crashing on my physical phone with no discernable error.

This is for windows 10, using CLI, and for RN version 0.63.4.

Follow these steps to install properly:
1. react-native init ProjectNa

[2021-03-07 12:36] JoonDong2 opened #37 "RNCv.matToImage does not works on android release mode."
`RNCv.matToImage` does not works on android release mode.

RN 0.63.2
Test API = 23,  29

The message is as follows (Printed using `Alert.alert`).
[code]

Obviously **it runs fine in debug mode.** But I don't know why it doesn't run in release mode.

[2021-03-07 13:26] JoonDong2 commented on #37
I fixed the issue by adding the following to the ProGuard rule:
[code]

[2021-03-10 03:01] JoonDong2 opened #38 "RNCv.deleteMat does not work on Android."
Here is the code where the error occurred:
[code]

Error message.
[code]

[2021-03-24 10:15] userinsta commented on #12
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 3s

    at makeError (/home/sarvvid/Desktop/SarvvidBox/test_opencv2/node_modules/execa/index.js:174:9)
    at /home/sarvvid/Desktop/SarvvidBox/test_opencv2/node_modules/execa/index.js:278:16

[2021-03-24 10:16] userinsta commented on #12
Got same error again. Please help

[2021-04-21 15:11] imcsorin opened #39 "Unable to use invokeMethod"
I get this error in logcat whenever I try to invoke a method:

[code]

Code:

[code]

Setup (Android):
[code]

[2021-04-30 09:25] ShootingStarDragon commented on #39
2 guesses:
#1 srcMat is not defined, you just await for an image but don't actually grab it before u invoke method
#2: check the # of channels on your jpg image, make sure it is 3 channels.  if it has an alpha channel u might have to use COLOR_BGRA2GRAY or COLOR_RGBA2GRAY

[2021-05-04 21:17] imcsorin commented on #39
I am closing this issue because I implemented my own library for OpenCV, thank you very much for taking the time to respond.

[2021-05-04 21:17] #39 closed, assigned to nobody

[2021-05-07 19:36] adamgf commented on #39
Arrays of Mats are not really supported.  I never added that functionality.

Best regards,
Adam

On Tue, May 4, 2021 at 2:17 PM Sorin ***@***.***> wrote:

[2021-05-11 06:59] imcsorin commented on #39
Hello Adam,

At the time I was using the example from the readme to try to make it work.

Now after implementing my own solution I can say that there is a small error. OpenCV loads a Mat by default as BGR and I was trying to use RGB to parse it to gray and I should've defined Mat size beforehand to save some operations.

Thank you for your time!

Best regards

[2021-05-19 15:53] RominHalltari opened #40 "warpPerspective not working on Android"
Hello! I am trying to use warp perspective like this:

`RNCv.invokeMethod("warpPerspective", {p1: srcMat, p2: doc, p3: m, p4: doc;`. All 4 parameters are `Mat` variables.

Problem is, I can see in the Android Studio Logcat this error message:

`E/CvInvoke: warpPerspective not found make sure method exists and is part of Opencv Imgproc, Core or Mat.`

I checked and it seems like you support it thou

[2021-07-04 19:23] medmo7 opened #41 "Can I use this library for image stitching?"
Hi, thanks for this effort.

I'm trying to make a panoramic image using react native, is there any way to use this lib for stitching?

Any code sample would be of great help. Thanks

[2021-07-05 07:03] robert-go commented on #8
In file `CvCameraView.m`
~`RCT_EXPORT_VIEW_PROPERTY(onFacesDetected, RCTBubblingEventBlock)`~
`RCT_EXPORT_VIEW_PROPERTY(onFacesDetected, RCTDirectEventBlock)`
Fixed for me

[2021-08-30 19:08] iuri opened #42 "To update openCv libraries to the latest (i.e. 4.5.1)"
Hello Adam,
We've successfully installed react-native-opencv3-tests, and all modules worked fine in my Android device (Motorola).
Unfortunately, the didn't work in a Samsung device.
We have no clue what's causing the problem. All App modules (i.e. CvCameraPreview, CvFaceDetection, ...)  just stop, and  all of sudden the app shuts down and the screen close after 1 or 2 minutes later, while executin

[2021-08-30 19:52] iuri commented on #42
So far, we  found a thread in StackOverflow Forum, where we could match similarities in the process of importing OpenCV lib to RN, and from there start to evolve in our upgrading openCV core's task.
https://stackoverflow.com/questions/59800761/how-can-i-import-opencv-library-to-react-native-project?rq=1

However, this thread is related to another RN OpenCV provider/module (i.e. react-native-opencv

[2021-08-31 00:45] iuri commented on #42
Nice and Official Documentation https://opencv.org/android/

[2021-11-19 13:43] tgprudencio opened #43 "Is it possible to implement a OMR using this library?"
I'm looking for some way to implement OMR in react-native for a few weeks and I just found this repo... I would like to know if it\s possible and if anyone has implemented OMR using this?
Thank you in advance guys!

[2021-11-22 19:57] iuri opened #44 "Error archiving App on XCode"
Hello there,

In attempt to archive the app on XCode 12.5.1, the following error occurred.  Apparently, opencv2 library doesn't have full bitcode required by XCode for arm64.

Has anyone already got a similar error?  How do I generate the required bitcode then?

Best wishes,
I

    '''' ld: bitcode bundle could not be generated because '/ios/Pods/libopencv-contrib/opencv2.framework/opencv2(cap_ios

[2021-11-23 03:38] adamgf commented on #44
Hi Luri,
I believe the version that I incorporated originally did not support
bitcode but I do not remember now for sure but I think that was the issue.
If React supports bitcode now then enabling bitcode I think is just a flag
should be pretty easy to incorporate it.  I will add you as a contributor
so you can make any kind of changes you want to.
Best regards,
Adam

On Mon, Nov 22, 2021 at 11:58

[2021-11-23 03:38] adamgf commented on #44
Or the Opencv version just needs to be updated the one that has bitcode
support.
Best regards,
Adam

On Mon, Nov 22, 2021 at 7:38 PM Adam ***@***.***> wrote:

[2021-11-23 19:30] iuri commented on #44
Precisely, it's just a flag to disable bitcode in the Xcode console, at Project > Target > Build Settings > EnableBitcode > "release" > no

After disabling bitcode, I was finally able to proceed with App's distribution.

Nevertheless, I'm interested in updating openCV libs to the latest version available at https://opencv.org/releases/

I'll keep you guys posted.

Best wishes,
I

![Screen Shot 202

[2021-12-31 04:52] pikann opened #45 "Could not find com.quickbirdstudios:opencv:3.4.4-contrib when install"
Hello there,

In attempt to install react-native-opencv3 to my project. I saw this error
[code]

Seem the opencv-contrib was updated the implementation text and I cannot find version 3.4.4 in it https://github.com/quickbirdstudios/opencv-android

[2022-01-06 08:21] pikann commented on #45
I fixed it by change the build.grandle of react native opencv3 to com.quickbirdstudios:opencv-contrib:3.4.5

[2022-01-23 22:51] iuri opened #46 "rn-opencv to connect to remote IP cameras"
Hello there,
How would we connect to a remote IP camera, using CvCamera object?

Best wishes,
I

[2022-01-23 23:30] iuri opened #47 "CPU high usage, even when openCv3 has not been on active"
Hi there,
I noticed that even, when the user is not using OpenCv features, its engine still runs and consumes CPU at high percentages.
How would we optimize (i.e. activate/deactivate) openCv engine, making active only the user is actually in the screen that uses OpenCV features?
<img width="842" alt="Screen Shot 2022-01-23 at 20 23 50" src="https://user-images.githubusercontent.com/630005/15070256

[2022-02-05 19:22] brcra0019 opened #48 "Installing react-native-opencv3 on latest react-native"
Hi There,
In attempt to install react-native-opencv3 on react-native@0.67.2, I got the following error attached below.

As I don't know which react-native@ libraries are important to opencv3 plugin, I didn't want skip dependencies, running the command

npm install --save --legacy--peer-deps   react-native-opencv3

Thus, is there an easy way to map such dependencies and fix them, in order to instal

[2022-03-28 17:02] mh9898 commented on #29
Hi,
I would like to implement the findContours and drawContours.
going over the openCV documentations there is a need for: OutputArrayOfArrays type

Going over the react-native-opencv3 library in xcode I can found just this type
type {MAT, DOUBLE, FLOAT, INT, BOOLEAN, STR, SCALAR, POINT, SIZE, RECT}

Is there an OutputArrayOfArrays in the library, and how can I use it?
Or can I add an OutputArrayO

[2022-06-27 16:17] gtzippy commented on #48
Brcra, did you ever figure this out? I am having the same problem trying to install on react-native@0.69.0

[2022-07-13 17:00] iuri commented on #48
Hi Adam,
Yes, problem has been solved.
Even though, I noticed it’s time we upgrade our openCV plugins to the latest RN core.
Do you think it’d be worthwhile to work on those enhancements?
I believe I can contribute.
Best wishes,
I

[2022-07-29 01:14] gtzippy commented on #48
@iuri I am just now seeing your reply. I tried to install it again just now and I am getting the same errors that I got before. If it has been solved do I need to do something special with my install call to get it to work correctly? Thanks!

[2022-07-29 12:56] ahmedozcan opened #49 "Failed to resolve: com.quickbirdstudios:opencv:3.4.4-contrib"
I download a new project and run the react-native-opencv3 library from npm. I can download the necessary pods in iOS and run the application on the phone, but on android.
 I get the error "Failed to resolve: com.quickbirdstudios:opencv:3.4.4-contrib".

Could not determine the dependencies of task ':app:mergeDebugAssets'.

     Searched in the following locations:
       - https://repo.maven.apache

[2022-07-29 16:11] luongdolong commented on #49
OpenCV Contribution's package naming has been changed to make it as per the naming guideline.
Old: opencv:VERSION-contrib
New: opencv-contrib:VERSION
See https://github.com/QuickBirdEng/opencv-android

In node_modules/react-native-opencv3/android/build.gradle edit as:
//implementation 'com.quickbirdstudios:opencv:3.4.4-contrib' -> old
implementation 'com.quickbirdstudios:opencv-contrib:3.4.5' -> n

[2022-08-04 15:58] ahmedozcan commented on #49
Thanks. Then I found the error and fixed it but forgot to change it.

[2022-08-04 15:58] #49 closed, assigned to nobody

[2022-08-31 05:10] nh9k commented on #40
Hi @RominHalltari, did you solve it?

[2022-08-31 05:10] nh9k commented on #35
Hi @devops35, did you solve it?

[2022-09-28 17:33] MobileAppVault commented on #48
@brcra0019  I used `$ npm install --save react-native-opencv3 --force` and it works for me on newest react-native version.